# The seventh chapter from Bill Lubanovic's book

## In this chapter those concepts will be discuss:

### - Tulpes
### - Lists
### - Examples of using both

### Lists and tuples are arguably Python’s most versatile, useful data types. You will find them in virtually every nontrivial Python program.

### Defining and Using Tuples

Tuples are identical to lists in all respects, except for the following properties:

* Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
* Tuples are immutable.

## [More info abou tuples and lists](https://realpython.com/python-lists-tuples/#python-tuples)

# Tuples

In [1]:
# empty tuple

empty_tuple = ()

In [2]:
print(empty_tuple)

()

In [4]:
#example of tuble as we can see coma is crucial for tuple

one_marx = ('przyklad krotki',)
one_marx

('przyklad krotki',)

In [5]:
# type of above expression

type(one_marx)

tuple

In [6]:
# parentheses in the text are not required

marx_tuple = 'cos', 'cis2', 'przyklad'
marx_tuple

('cos', 'cis2', 'przyklad')

In [9]:
# assigning a value to the words of a tuple

first_variable = ('cos1', 'cos2', 'cos3')
a, b, c = first_variable
print(a, b, c)

cos1 cos2 cos3

In [10]:
# we can change the values of two variables

password = 'przykladowe_haslo'
icekream = 'stawberry'
password, icekream = icekream, password
print(password, icekream)

stawberry przykladowe_haslo

In [11]:
# using the function tuple() we can change another structure into tuple

example_list = ['abc1', 'def2', 'ghi3']
tuple(example_list)

('abc1', 'def2', 'ghi3')

In [12]:
# adding tuples using "+"

('przyklad1', 'przyklad2', 'przyklad3') + ('przyklad4', 'przyklad5')

('przyklad1', 'przyklad2', 'przyklad3', 'przyklad4', 'przyklad5')

In [15]:
# duplicating the words of a tuple with the multiplication sign

('pierwszy_wyraz' ,) * 3

('pierwszy_wyraz', 'pierwszy_wyraz', 'pierwszy_wyraz')

In [16]:
# comparing tuples

a = (7,3,5)
b = (1, 2,)

a==b

False

In [17]:
# iterating through statements for i in

words = ('head', 'full', 'of', 'ideas')
for word in words:
    print(word)

head
full
of
ideas

In [19]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')


t[0]

t[-1]

t[1::2]

('bar', 'qux', 'corge')

In [20]:
t[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

## Why use a tuple instead of a list?

* Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

* Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

* There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

In [21]:
t = (2,)
type(t)

t[0]

t[-1]

2


## One of the chief characteristics of a list is that it is ordered. The order of the elements in a list is an intrinsic property of that list and does not change, unless the list itself is modified. (The same is true of tuples, except of course they can’t be modified.)

# List

n short, a list is a collection of arbitrary objects, somewhat akin to an array in many other programming languages but more flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([]), as shown below:

`<` strictly less than

`<=` less than or equal

`>` strictly greater than

`>=` greater than or equal

`==` equal

`!=` not equal

`is` object identity

`is not` negated object identity

`in` membership

`not in` negated membership.



The result of applying these operators is always bool.

In [3]:
a = 1
b = 2
c = 3
e = 4
f = 5
g = 6



# True and-expressions return the result of the last operation:
print(b + c * f >= e and (f + g) * c)  # 33
print((f + g) * c and b + c * f >= e)  # True

# False and-expressions return a boolean False value:
print(b + c * f <= e and (f + g) * c)  # False
print((f + g) * c and b + c * f <= e)  # False

# True or-expressions return the result of the first operation:
print(b + c * f >= e or (f + g) * c)  # True
print((f + g) * c or b + c * f >= e)  # 33

# True-False or-expressions return the True part:
print((f + g) * c or b + c * f <= e)  # 33
print(b + c * f <= e or (f + g) * c)  # 33

33
True
False
False
True
33
33
33

In [33]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [28]:
# example of empty list

empty_list = []
empty_list

[]

In [29]:
# we can create empty list using function list()

another_empty_list = list()
another_empty_list

[]

In [30]:
# the variables in the list do not have to be unique

first_name = ['monday', 'monday', 'friday']
first_name

['monday', 'monday', 'friday']

In [31]:
# using fuction list we can change the list to a tuple

a_tuple = ('one', 'two', 'three')
list(a_tuple)

['one', 'two', 'three']

In [32]:
# using split() function to create list

splitme = 'a//b/d/bh/r///v'
splitme.split('/')

['a', '', 'b', 'd', 'bh', 'r', '', '', 'v']

In [46]:
# example of siple list

list_a = ['foo', 'bar', 'baz', 'qux']
list_a[1]

'bar'

In [45]:
# the last element of a list

list_a[-1]

'qux'

In [40]:
# in case of list index must exist

list_a[20]

IndexError: list index out of range

In [44]:
# extracting from list using snip

list_a[0:2]

['foo', 'bar']

In [47]:
# snip step - that is, every word of the list

list_a[::2]

['foo', 'baz']

In [48]:
# creating an inverted list

list_a[::-1]

['qux', 'baz', 'bar', 'foo']

In [51]:
# to modify the list and reverse its order

list_a.reverse()
list_a

['qux', 'baz', 'bar', 'foo']

In [52]:
# as with strings, specifying a nonexistent index does not generate an error

list_a[-99:-88]

[]

In [53]:
# append an item to lists using the append function

list_a.append('kolejny_wyraz')
list_a

['qux', 'baz', 'bar', 'foo', 'kolejny_wyraz']

In [54]:
# Inserting a List Item Using the Insert () Function

list_a.insert(66,'nie bedzie wyjatku')
list_a

['qux', 'baz', 'bar', 'foo', 'kolejny_wyraz', 'nie bedzie wyjatku']

In [55]:
# multiplication sign when duplicating a list

['abf'] * 3

['abf', 'abf', 'abf']

In [58]:
# concatenating lists with extend ()

list_ca = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']
list_aa = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

list_ca.extend(list_aa)
list_ca

['bark',
 'meow',
 'woof',
 'bark',
 'cheep',
 'bark',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [59]:
# append function in case concatenating lists

list_aa.append(list_ca)
list_aa

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 ['bark',
  'meow',
  'woof',
  'bark',
  'cheep',
  'bark',
  'foo',
  'bar',
  'baz',
  'qux',
  'quux',
  'corge']]

In [60]:
# modifying the list with a snip

list_d = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_d[1:3] = [8,9]
list_d

[0, 8, 9, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
# removing a list item with the index del statement

list_d[-1]

10

In [66]:
del list_d[-1]
list_d

[0, 8, 9, 3, 4, 5]

In [67]:
# removing a list item using the remove () function when we know the value of what we want to remove

elf_list = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
elf_list.remove('foo')
elf_list

['bar', 'baz', 'qux', 'quux', 'corge']

In [68]:
# reading and deleting a list item with pop ()

elf_list.pop(1)

'baz'

In [69]:
elf_list

['bar', 'qux', 'quux', 'corge']

In [70]:
# delete all list items with clear ()

elf_list.clear()
elf_list

[]

In [71]:
# content checking

next_elf_list = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
'foo' in next_elf_list

True

In [72]:
# counting the occurrences

next_elf_list.count('bar')

1

In [73]:
# converting a list to a string

', '.join(next_elf_list)

'foo, bar, baz, qux, quux, corge'

In [74]:
# changing the order of elements with the sort () and sorted () functions

sorted_next_elf_list = sorted(next_elf_list)
sorted_next_elf_list

['bar', 'baz', 'corge', 'foo', 'quux', 'qux']

In [75]:
# sort in descending order

numbers = [1,4, 7,44]
numbers.sort(reverse = True)
numbers

[44, 7, 4, 1]

In [76]:
# copying the list

a = [1,2,3]
b = a.copy()
c = list(a)
d = a[:]

In [77]:
a[0] = 'liczby calkowite'
a

['liczby calkowite', 2, 3]

In [78]:
b

[1, 2, 3]

In [79]:
c

[1, 2, 3]

In [80]:
d

[1, 2, 3]

In [81]:
# deepcopy function

import copy
ds_list = [1,2,[8,9]]
ds_list_next = copy.deepcopy(ds_list)
ds_list

[1, 2, [8, 9]]

In [82]:
ds_list_next

[1, 2, [8, 9]]

In [83]:
ds_list[2][1] = 99
ds_list

[1, 2, [8, 99]]

In [84]:
ds_list_next

[1, 2, [8, 9]]

In [ ]:
# iterating with for i in

In [1]:
iterating_list = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
for words in iterating_list:
    print(words)

foo
bar
baz
qux
quux
corge

In [2]:
# range function

number_list = []
for number in range(1,8):
    number_list.append(number)

number_list

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# using list

number_list_list =[number for number in range(1,9)]
number_list_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
rows = range(1,4)
cols = range(1,2)

for row in rows:
    for col in cols:
        print(row, col)

1 1
2 1
3 1

## The important characteristics of Python lists are as follows:

* Lists are ordered.
* Lists can contain any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to arbitrary depth.
* Lists are mutable.
* Lists are dynamic.

In [5]:
#Lists Are Ordered
#A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime. (You will see a Python data type that is not ordered in the next tutorial on dictionaries.) Lists that have the same elements in a different order are not the same:

a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [7]:
a is b

False

In [8]:
[1, 2, 3, 4] == [4, 1, 3, 2]

False

In [9]:
# Lists Can Contain Arbitrary Objects. A list can contain any assortment of objects. The elements of a list can all be the same type:

a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [10]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [11]:
a[-5:-2]

a[1:4]

a[-5:-2] == a[1:4]

True

In [13]:
# Omitting the first index starts the slice at the beginning of the list, and omitting the second index extends the slice to the end of the list:

print(a[:4], a[0:4])

print(a[2:], a[2:len(a)])


a[:4] + a[4:]

a[:4] + a[4:] == a

['foo', 'bar', 'baz', 'qux'] ['foo', 'bar', 'baz', 'qux']
['baz', 'qux', 'quux', 'corge'] ['baz', 'qux', 'quux', 'corge']

True

In [15]:
# You can specify a stride—either positive or negative:


a[6:0:-2]

['corge', 'qux', 'bar']

In [16]:
# The [:] syntax works for lists. However, there is an important difference between how this operation works with a list and how it works with a string. If s is a string, s[:] returns a reference to the same object:
s = 'foobar'
s[:]

s[:] is s

True

In [17]:
# Conversely, if a is a list, a[:] returns a new object that is a copy of a:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[:]

a[:] is a

False

In [19]:
# The len(), min(), and max() functions:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [20]:
len(a)

6

In [21]:
min(a)

'bar'

In [22]:
max(a)

'qux'

In [23]:
# It’s not an accident that strings and lists behave so similarly. They are both special cases of a more general object type called an iterable, which you will encounter in more detail in the upcoming tutorial on definite iteration.

# By the way, in each example above, the list is always assigned to a variable before an operation is performed on it. But you can operate on a list literal as well:

['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][2]

'baz'

In [24]:
['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][::-1]

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

In [25]:
'quux' in ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

True

In [26]:
len(['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][::-1])

6

In [27]:
# Lists Can Be Nested
# You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

# Consider this (admittedly contrived) example:

x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
x

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [28]:
print(x[0], x[2], x[4])

a g j

In [29]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [30]:
x[1][0]

'bb'

In [31]:
print(x[3][0], x[3][1])

hh ii

In [32]:
print(x[1][1][0], x[1][1][1])

ccc ddd

In [33]:
# There is no limit, short of the extent of your computer’s memory, to the depth or complexity with which lists can be nested in this way.

x[1][1][-1]

'ddd'

In [34]:
# Lists Are Mutable
# Most of the data types you have encountered so far have been atomic types. Integer or float objects, for example, are primitive units that can’t be further broken down. These types are immutable, meaning that they can’t be changed once they have been assigned. It doesn’t make much sense to think of changing the value of an integer. If you want a different integer, you just assign a different one.

# By contrast, the string type is a composite type. Strings are reducible to smaller parts—the component characters. It might make sense to think of changing the characters in a string. But you can’t. In Python, strings are also immutable.

# The list is the first mutable data type you have encountered. Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [35]:
a[2] = 10
a[-1] = 20
a

['foo', 'bar', 10, 'qux', 'quux', 20]

In [38]:
# You may recall from the tutorial Strings and Character Data in Python that you can’t do this with a string:

s = 'foobarbaz'
s[2] = 'x'

TypeError: 'str' object does not support item assignment

In [39]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

del a[3]
a

['foo', 'bar', 'baz', 'quux', 'corge']

In [40]:
# Again, for the moment, think of an iterable as a list. This assignment replaces the specified slice of a with <iterable>:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[1:4]

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [41]:
a[1:6]

a[1:6] = ['Bark!']
a

['foo', 'Bark!', 'quux', 'corge']

In [42]:
# You can also insert elements into a list without removing anything. Simply specify a slice of the form [n:n] (a zero-length slice) at the desired index:

a = [1, 2, 7, 8]
a[2:2] = [3, 4, 5, 6]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
# You can delete multiple elements out of the middle of a list by assigning the appropriate slice to an empty list. You can also use the del statement with the same slice:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[1:5] = []
a

['foo', 'corge']

In [44]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
del a[1:5]
a

['foo', 'corge']

In [45]:
# Prepending or Appending Items to a List
# Additional items can be added to the start or end of a list using the + concatenation operator or the += augmented assignment operator:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a += ['grault', 'garply']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [46]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a = [10, 20] + a
a

[10, 20, 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [47]:
# Note that a list must be concatenated with another list, so if you want to add only one element, you need to specify it as a singleton list:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a += 20

TypeError: 'int' object is not iterable

In [48]:
a += [20]
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 20]

In [49]:
# Methods That Modify a List
# a.append

a = ['a', 'b']
a.append(123)
a

['a', 'b', 123]

In [50]:
a = ['a', 'b']
x = a.append(123)
print(x)

a

None

['a', 'b', 123]

In [51]:
# Remember that when the + operator is used to concatenate to a list, if the target operand is an iterable, then its elements are broken out and appended to the list individually:

a = ['a', 'b']
a + [1, 2, 3]

['a', 'b', 1, 2, 3]

In [52]:
# The .append() method does not work that way! If an iterable is appended to a list with .append(), it is added as a single object:

a = ['a', 'b']
a.append([1, 2, 3])
a

['a', 'b', [1, 2, 3]]

In [54]:
# Thus, with .append(), you can append a string as a single entity:

a = ['a', 'b']
a.append('foo')
a

['a', 'b', 'foo']

In [55]:
# a.extend

# Yes, this is probably what you think it is. .extend() also adds to the end of a list, but the argument is expected to be an iterable. The items in <iterable> are added individually:

a = ['a', 'b']
a.extend([1, 2, 3])
a

['a', 'b', 1, 2, 3]

In [57]:
# In other words, .extend() behaves like the + operator. More precisely, since it modifies the list in place, it behaves like the += operator:

a = ['a', 'b']
a += [1, 2, 3]
a

['a', 'b', 1, 2, 3]

In [59]:
# a.insert

# a.insert(<index>, <obj>) inserts object <obj> into list a at the specified <index>. Following the method call, a[<index>] is <obj>, and the remaining list elements are pushed to the right:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.insert(3, 3.14159)
print(a[3])

a

3.14159

['foo', 'bar', 'baz', 3.14159, 'qux', 'quux', 'corge']

In [60]:
# a.remove

# a.remove(<obj>) removes object <obj> from list a. If <obj> isn’t in a, an exception is raised:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.remove('baz')
a

['foo', 'bar', 'qux', 'quux', 'corge']

In [61]:
a.remove('Bark!')

ValueError: list.remove(x): x not in list

In [62]:
# a.pop

# This method differs from .remove() in two ways:

# You specify the index of the item to remove, rather than the object itself.
# The method returns a value: the item that was removed.

# a.pop() simply removes the last item in the list:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a.pop()

a

['foo', 'bar', 'baz', 'qux', 'quux']

In [63]:
a.pop()

a

['foo', 'bar', 'baz', 'qux']

In [64]:
# If the optional <index> parameter is specified, the item at that index is removed and returned. <index> may be negative, as with string and list indexing:


a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a.pop(1)

a

['foo', 'baz', 'qux', 'quux', 'corge']

In [65]:
a.pop(-3)

a

['foo', 'baz', 'quux', 'corge']

In [66]:
# Lists Are Dynamic
# This tutorial began with a list of six defining characteristics of Python lists. The last one is that lists are dynamic. You have seen many examples of this in the sections above. When items are added to a list, it grows as needed:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:2] = [1, 2, 3]
a += [3.14159]
a

['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge', 3.14159]

In [67]:
# Similarly, a list shrinks to accommodate the removal of items:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:3] = []
del a[0]
a

['bar', 'qux', 'quux', 'corge']